spring:
  application:
    name: flowpay-atendimento
  datasource:
    url: jdbc:postgresql://localhost:5432/flowpay
    username: flowpay
    password: flowpay
  jpa:
    hibernate:
      ddl-auto: validate
    open-in-view: false
    properties:
      hibernate:
        format_sql: true
  flyway:
    enabled: true

server:
  port: 8080

springdoc:
  swagger-ui:
    path: /swagger-ui.html

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
